*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main{
  display: flex;
  justify-content: space-between;
}

.notes_section{

  width:80vw;
}

.listview{
  width:50vw;
  padding:0.5rem;
  margin: 1rem auto;
}