*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main{
  display: flex;
  justify-content: space-between;
}

.notes_section{

  width:80vw;
}

.listview{
  width:50vw;
  padding:0.5rem;
  margin: 1rem auto;
}

.edit{
  width:55vw;
  margin:1rem auto;
  padding:1rem;
  border-radius: 8px;
}

.editTitle{
  margin:1rem auto;
  font-size:medium;
    font-weight: 600;
}

.editContent{
  margin:1rem auto;
  font-size: small;
}